<nav class="taskNav">
  <ul>
    <li class="mainTaskHeading"><a href="/tasks">Tasks</a></li>
    <li><a href="/create">Add Task</a></li>
    <li style="margin-right: 0px"><a href="/tasks/:id">Delete Tasks</a></li>
  </ul>
</nav>
