<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

    <article class="content">
      <div>
        <h1>Courses</h1>
      </div>
      <a class="course" href="/courseLessons">
        <div class="courseName">
          <div>Computer Vision</div>
          <div class="rightArrowLg"></div>
        </div>
        <div class="courseDescription">
          <p>
            Computer Vision has become ubiquitous in our society, with
            applications in search, image understanding, apps, mapping,
            medicine, drones, and self-driving cars. Core to many of these
            applications are visual recognition tasks such as image
            classification and object detection. Recent developments in neural
            network approaches have greatly advanced the performance of these
            state-of-the-art visual recognition systems. This course is a deep
            dive into details of neural-network based deep learning methods for
            computer vision. During this course, students will learn to
            implement, train and debug their own neural networks and gain a
            detailed understanding of cutting-edge research in computer vision.
            We will cover learning algorithms, neural network architectures, and
            practical engineering tricks for training and fine-tuning networks
            for visual recognition tasks.
          </p>
        </div>
      </a>
    </article>

    <script src="demo.js"></script>
  </body>
</html>
