<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="/" class="brand-logo"><div>eyes.ai</div></a>
        <div>
          <% if (user) { %> 
            <div class="dropdown">
              <div class="dropbtn">
                <div class="authLink">
                  <span><%= user.username %> </span>
                <div id="arrow" class="rightArrow"></div>
              </div>
              <div class="dropdownContent">
                <a href="/homepage">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/tasks">My Tasks</a>
                <a href="/users/logout">Logout</a>
              </div>
            </div>
          </div>
          <% } else { console.log(user);%> 
          <div class="authLink">
            <a href="/signin">
              <span>Sign In /</span>
            </a>
            <a href="/signup" style="color: black;">
              <span>Sign Up<span>
            </a>
          </div>
          <% } %> 
        </div>
      </div>
    </header>
    <div class="tasks">
      <%- include("./partials/taskNav.ejs") %>
      <div class="taskContent">
        <form action="/tasks">
          <label for="description">Task Description:</label>
          <textarea id="body" name="Description"><%= singleTask.Description %> </textarea>
          <div>
            <label for="taskStatus" style="display: inline;">Completed ?:</label>
            <% if (singleTask.Completed == true) { %> 
              <input type='checkbox' name='Completed' checked>
            <% } else { %> 
              <input type='checkbox' name='Completed'>
            <% } %> 
          </div>
          <input type="submit" value="Update">
        </form>
      </div>
    </div>
    
    <script>
      let dropdownContent = document.querySelector(".dropdownContent");
      let rightArrow = document.querySelector(".rightArrow"); //show-card
      let authLink = document.querySelector(".authLink");
      
      let classes = rightArrow.classList;
      
      authLink.addEventListener("click", function () {
        let result = classes.toggle("downArrow");
      
        if (result) {
          dropdownContent.classList.add("show");
        } else {
          dropdownContent.classList.remove("show");
        }
      });

      const form = document.querySelector('form');

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
              
        try {
          const res = await fetch("/tasks/<%= singleTask._id %>", {
            method: "PATCH",
            body: JSON.stringify({
              Description: form.Description.value,
              Completed: form.Completed.value,
            }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          console.log(data);
          if (data.user) {
            location.assign("/task");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
