<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

    <article class="content">
      <div id="dashboard" class="dashboard"></div>
    </article>

    <script src="demo.js"></script>
  </body>
</html>
