<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <section class='featured'>
    <div>
      <h1>Featured Programs</h1>
      <p>So, what are you waiting for. Let's get started for free.</p>
      <div class="program">
       <!--  <a class="a-normal">Deep Learning</a> -->
        <a class="a-normal" href="/courseLessons">Computer Vision</a>
      </div>
    </div>
  </section>
    <script src="demo.js"></script>
  </body>
</html>
